<!DOCTYPE html>
{% trans_default_domain 'global' %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="/assets/styles/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/styles/global.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="header">
            <a class="logo" href="{{ path('app_home')}}">
                <img border="0" alt="Logo" src="/logo.png" width="70" height="70"> Disastweet
            </a>
            {% if app.user %}
                <a href="{{ path('user_me') }}" class="effect-underline">Compte : {{ app.user.alias ?: app.user.email }}</a>
                <a href="{{ path('app_logout') }}" class="effect-underline">{{ 'global.logout' | trans }}</a>
            {% else %}
                <a href="{{ path('app_login') }}" class="effect-underline">{{ 'global.login' | trans }}</a>  
            {% endif %}
        </div>
            
        {% block superbody %}
            <div class="pageContent">
                {% block body %}{% endblock %}
            </div>
        {% endblock %}
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {% block script %}{% endblock %}
    </body>

</html>
