{% block stylesheets %}
    <link rel="stylesheet" href="/assets/styles/jquery/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/assets/styles/jquery/jquery-ui.structure.min.css"/>
    <link rel="stylesheet" href="/assets/styles/jquery/jquery-ui.theme.min.css"/>
    <link rel="stylesheet" href="/assets/styles/jqueryui.addition.css"/>
{% endblock %}
{% block body %}
    <div class="tabs" id="tabAdmin" >
        <ul class="d-flex">
            <li class="tabs-li"><a href="#tabs-users">Utilisateurs</a></li>
            <li class="tabs-li"><a href="#tabs-report">Signalement</a></li>
        </ul>
        <div id="tabs-users">
            <table class="w-100 whiteColor">
                <thead>
                    {% if is_granted('ROLE_SUPERADMIN') %}
                        <tr>
                            <th>Email</th>
                            <th>Alias</th>
                            <th>Admin</th>
                            <th>Validator</th>
                        </tr>
                    {% elseif is_granted('ROLE_ADMIN') %}
                        <tr>
                            <th>Email</th>
                            <th>Alias</th>
                            <th>Validator</th>
                        </tr>
                    {% endif %}
                </thead>
                <tbody>
                    {% if  is_granted('ROLE_ADMIN') and not is_granted('ROLE_SUPERADMIN') %}
                        <tr class="user_row">
                            <td class="user_email">{{ app.user.email }}</td>
                            <td class="user_alias">{{  app.user.alias }}</td>
                            <td class="user_isvalidator"><input type="checkbox" class="validator_cb" {% if 'ROLE_VALIDATOR' in  app.user.roles %}checked{% endif %}></td>
                        </tr>
                    {% endif %}
                    {% for user in users %}
                        {% if user.email != app.user.email %}
                            {% if not((user.isRole('ROLE_ADMIN')or user.isRole('ROLE_SUPERADMIN')) and not is_granted('ROLE_SUPERADMIN')) %}
                                <tr class="user_row">
                                    <td class="user_email">{{ user.email }}</td>
                                    <td class="user_alias">{{ user.alias }}</td>
                                    {% if is_granted('ROLE_SUPERADMIN') %}
                                        <td class="user_isadmin">
                                            <input type="checkbox" class="admin_cb" {% if 'ROLE_ADMIN' in user.roles %}checked{% endif %}>
                                        </td>
                                    {% endif %}
                                    <td class="user_isvalidator"><input type="checkbox" class="validator_cb" {% if 'ROLE_VALIDATOR' in user.roles %}checked{% endif %}></td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                </tbody>
            </table>
            <div class="d-flex justify-content-around mt-4">
                <button class="btn btn-success w-25" onclick="saveRoles()">Sauvegarder</button>
                <button class="btn btn-danger w-25" onclick="location.reload()">Annuler</button>
            </div>
        </div>
        <div id="tabs-report">
            {% if (reported | length) > 0 %}
                {% for tweet in reported %}
                    <div id="report_{{tweet.id}}" class="div_report">
                        <p class="tweetTextStyle"> "{{ tweet.text | trim }}"</p>
                        <p class="tweetTitleStyle">Lieux</p>
                        {% for lieu in tweet.getValidation().places %}
                            <div class="d-flex justify-content-around whiteColor">
                                <p>Lieu : {{ lieu.place }}</p>
                                <p>Long : {{ lieu.lng }}</p>
                                <p>Lat : {{ lieu.lat }}</p>
                            </div>
                        {% endfor %}
                        <p class="tweetTitleStyle">Evenements</p>
                        {% for event in tweet.getValidation().events %}
                            <p class="center whiteColor">{{ event }}</p>
                        {% endfor %}
                        <p class="tweetTitleStyle">Signalements</p>
                        <p class="center whiteColor">{{ tweet.reportedBy | length }} signalement(s)</p>
                        <div class="d-flex justify-content-around">
                            <input class="btn btn-warning w-25" type="button" value="Supprimer Signalement" onclick="admin_reset_report(`{{tweet.id}}`)">
                            <input class="btn btn-danger w-25" type="button" value="Invalider" onclick="admin_invalide(`{{tweet.id}}`)">
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Aucun Tweet Signalé</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        let numberOfReport = {{reported | length}};
        {% if aio is not defined %}
                    $(".tabs").tabs();
        {%endif%}
            function saveRoles() {
                let dataToSend = [];
                $(".user_row").each(function (key, value) {
                    let user = $(value).children(".user_email").html();
                    let validator = $(value).children(".user_isvalidator").children('.validator_cb')[0].checked;
        {% if is_granted('ROLE_SUPERADMIN') == true %}
                    let admin = $(value).children(".user_isadmin").children('.admin_cb')[0].checked;
                    dataToSend.push({'user': user, 'validator': validator, 'admin': admin});
        {% else %}
                    dataToSend.push({'user': user, 'validator': validator});
        {% endif %}
                });
                $.post('{{ path('admin_save_role') }}', {'data': dataToSend}, function (data) {
                    location.reload();
                }, "json");
            }
            function admin_invalide(idTweet) {
                $.post('{{ path('admin_invalide_tweet') }}', {'idTweet': idTweet}, function (data) {
                    if (data.reussite) {
                        removeReport(idTweet);

                    }
                }, "json");
            }
            function admin_reset_report(idTweet) {
                $.post('{{ path('admin_reset_report_tweet') }}', {'idTweet': idTweet}, function (data) {
                    if (data.reussite) {
                        removeReport(idTweet);
                    }
                }, "json");
            }

            function removeReport(idTweet) {
                $('#report_' + idTweet).remove();
                numberOfReport--;
                if (numberOfReport <= 0) {
                    $('#tabs-report').html('<p>Aucun Tweet Signalé</p>')
                }
            }
    </script>
    <script src="{{ asset('assets/scripts/jquery/jquery-ui.min.js') }}"></script>
{% endblock %}